<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- UIkit CSS -->
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/css/uikit.min.css" />

    	<!-- UIkit JS -->
    	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/js/uikit.min.js></script>
    	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/js/uikit-icons.min.js></script>
    </head>
    <body>
    	<nav class="uk-navbar-container uk-margin-auto" uk-navbar>
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <a class="uk-navbar-item uk-logo">Christopher Shim</a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#aboutme" uk-scroll>About Me</a>
                </li>
                <li>
                    <a href="#skills" uk-scroll>Skills</a>
                </li>
                <li>
                    <a href="#projects" uk-scroll>Projects</a>
                </li>
            </ul>

        </div>
    </nav>

    <!--Parallax code-->
    <div class="uk-background-cover uk-light uk-flex" uk-height-viewport="offset-top: true" uk-parallax="bgy: -300"
        style="background-image: url('table.jpg');">
        <div class="uk-width-1-1@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
            <div uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
                <h1 class="uk-heading-large">Hello, I'm Christopher!</h1>
            </div>
            <div uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                <h2>Welcome to my personal website</h2>
            </div>
        </div>
    </div>
    </body>
</html>